
* {
  box-sizing: border-box;
}
 


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}

main {
  margin: 20px auto;
  width: 94%;
}

.padDiv {
  padding: 10px 0px 10px 0px;
 
}
p {
  font-size: 1.2rem;
}

 .cty-btn {
  font-size: 1.3rem;
  text-decoration:none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 1px 0;
  border-radius: 5px;
  color: black;
  border: .5px;
  outline: none;
  background-color: white;
  
  
}

.corners {
  border-radius: 5px;
  padding: 5px;
  
}

.hero {
  padding: 2% 3%;
  
}

.hero p {
  max-width: 75%;
}


.list-group {
  padding: 0;
  list-style: none;
}

.list-item {
  margin-bottom: 10px;
  padding: 1.5%;
  
  
  text-decoration: none;
}

.list-item:hover {
  background-color: rgba(255,255,255, 1);
}

.status-icon {
  padding: 2px 5px;
  margin: 0 5px;
  background-color: rgba(255,255,255, 1);
  
}

.icon-danger {
  color: rgb(255, 70, 70);
}

.icon-success {
  color: rgb(29, 153, 255);
}

/* CARDS */
.card {
  margin: 0 0 20px 0;
  
  
}



.card-header {
  
  /* padding: 2.5%; */
  border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}

.card-body {
  /*padding: 2.0%;*/
}

/* FORM */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  
}

/* HEIGHT / WIDTH UTILS */
.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}

/* FONT UTILS */
.text-uppercase {
  text-transform: uppercase;
}


/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.col-auto {
  flex-grow: 1;
}

.col-1 {
  flex: 0 0 calc(100% * 1 / 12 - 2%);
}

.col-2 {
  flex: 0 0 calc(100% * 2 / 12 - 2%);
}

.col-3 {
  flex: 0 0 calc(100% * 3 / 12 - 2%);
}

.col-4 {
  flex: 0 0 calc(100% * 4 / 12 - 2%);
}

.col-5 {
  flex: 0 0 calc(100% * 5 / 12 - 2%);
}

.col-6 {
  flex: 0 0 calc(100% * 6 / 12 - 2%);
}

.col-7 {
  flex: 0 0 calc(100% * 7 / 12 - 2%);
}

.col-8 {
  flex: 0 0 calc(100% * 8 / 12 - 2%);
}

.col-9 {
  flex: 0 0 calc(100% * 9 / 12 - 2%);
}

.col-10 {
  flex: 0 0 calc(100% * 10 / 12 - 2%);
}

.col-11 {
  flex: 0 0 calc(100% * 11 / 12 - 2%);
}

.col-12 {
  flex: 0 0 100%;
}

/* col-sm */
@media screen and (min-width: 640px) {
  .col-sm-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-sm-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-sm-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-sm-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-sm-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-sm-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-sm-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-sm-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-sm-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-sm-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-sm-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-sm-12 {
    flex: 0 0 100%;
  }
}


/* col-md */
@media screen and (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-md-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-md-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-md-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-md-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-md-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-md-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-md-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-md-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-md-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-md-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-md-12 {
    flex: 0 0 100%;
  }
}

/* col-lg */
@media screen and (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-lg-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-lg-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-lg-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-lg-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-lg-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-lg-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-lg-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-lg-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-lg-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-lg-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-lg-12 {
    flex: 0 0 100%;
  }
}

/* col-xl */
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-xl-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-xl-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-xl-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-xl-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-xl-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-xl-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-xl-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-xl-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-xl-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-xl-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-xl-12 {
    flex: 0 0 100%;
  }
}


